<div class="container">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th>No.</th>
      <th>Product name</th>
      <th>Date added</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products, let i = index">
      <th>{{ i + 1 }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.date | date:'dd MMM yyyy hh:mm a' }}</td>
      <td>${{ product.price * product.quantity }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td><strong>Total : ${{ totalSum() }}</strong></td>
      <td>
        <button routerLink="/cart" class="btn btn-primary">Change item</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="checkout()">Take the bill</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
