<div class="Login">
  <h1>Login</h1>
  <form #Login="ngForm"
        (ngSubmit)="submit(Login.value)"
        class="common-form">
    <input
      type="text"
      class="form-control"
      placeholder="Enter Username"
      required
      #username="ngModel"
      [ngClass]="{'is-invalid': submitted && Login.controls.username.errors}"
      [class.is-invalid]="username.invalid && username.touched"
      name="username"
      ngModel
    />
    <div *ngIf="submitted && Login.controls.username.errors" class="text-danger">
      <small class="text-danger">
        {{ errorName }}
      </small>
    </div>
    <input
      type="password"
      class="form-control"
      required
      #password="ngModel"
      [ngClass]="{'is-invalid': submitted && Login.controls.password.errors}"
      [class.is-invalid]="password.invalid && password.touched"
      placeholder="Enter Your password"
      name="password"
      ngModel
    />
    <div *ngIf="submitted && Login.controls.password.errors" class="text-danger">
      <div class="text-danger text" *ngIf="submitted && Login.controls.password.errors.required">
        <small class="text-danger">
          {{ errorPassword }}
        </small>
      </div>
    </div>
    <button class="form-button">Login</button>
    <small class="text-danger text" *ngIf="emptyData">
      {{ emptyData }}
    </small>
  </form>

</div>
