<div class="product-list">
  <h1>Product List</h1>
  <p class="message-p">{{ updateMessage }}</p>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of products">
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>
        <button (click)="deleteProduct(item.id)" routerLink="/admin-item"><i class="fa-solid fa-trash"></i></button>
        <a routerLink="/admin-update-item/{{item.id}}" style="margin-left: 15px"><i class="fa-regular fa-pen-to-square"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
