<div class="Login-admin">
  <h1>Admin Login</h1>
  <form #adminLogin="ngForm"
        (ngSubmit)="submit(adminLogin.value)"
        class="common-form">
    <input
      type="text"
      class="form-control"
      placeholder="Enter Username"
      required
      #username="ngModel"
      [ngClass]="{'is-invalid': submitted && adminLogin.controls.username.errors}"
      [class.is-invalid]="username.invalid && username.touched"
      name="username"
      ngModel
    />
    <div *ngIf="submitted && adminLogin.controls.username.errors" class="text-danger">
      <small class="text-danger">
        {{ errorName }}
      </small>
    </div>
    <input
      type="password"
      class="form-control"
      required
      #password="ngModel"
      [ngClass]="{'is-invalid': submitted && adminLogin.controls.password.errors}"
      [class.is-invalid]="password.invalid && password.touched"
      placeholder="Enter Your password"
      name="password"
      ngModel
    />
    <div *ngIf="submitted && adminLogin.controls.password.errors" class="text-danger">
      <div class="text-danger text" *ngIf="submitted && adminLogin.controls.password.errors.required">
        <small class="text-danger">
          {{ errorPassword }}
        </small>
      </div>
    </div>
    <button class="form-button">Login to manage items</button>
    <p>Want to create new account? <a (click)="clickSignUp()">Click Here</a></p>

    <small class="text-danger text" *ngIf="emptyData">
      {{ emptyData }}
    </small>
  </form>

</div>
