<div class="container" *ngIf="products.length > 0">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th>No.</th>
      <th>Product name</th>
      <th>Date added</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products, let i = index">
      <th>{{ i + 1 }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.date | date:'dd MMM yyyy hh:mm a' }}</td>
      <td>${{ product.price }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td><strong>Total : ${{ totalSum() }}</strong></td>
      <td>
        <button routerLink="/products" class="btn btn-primary">Check done</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="products == 0">
  <div class="title">
    <h1>My Order</h1>
  </div>
  <div class="content">
    <img src="../../../../assets/image/img.png" height="300" width="550" alt="Empty Order">
    <p>Your order is empty</p>
    <button class="btn btn-primary" routerLink="/products">Get your items</button>
  </div>
</div>
