<div class="add-product">
  <h1>Add New Product</h1>
  <p class="message-p">{{ messageSuccess }}</p>
  <form #addProduct="ngForm"
        (ngSubmit)="submit(addProduct.value)"
        class="common-form" autocomplete="off">
    <input
      type="text"
      class="form-control"
      placeholder="Enter Product Name"
      name="name"
      #name="ngModel"
      [ngClass]="{'is-invalid': submitted && addProduct.controls.name.errors}"
      [class.is-invalid]="name.invalid && name.touched"
      required
      [(ngModel)]="addProduct.value.name"
    />
    <small class="text-danger" *ngIf="errorName">
      {{ errorName }}
    </small>
    <div *ngIf="submitted && addProduct.controls.name.errors" class="text-danger">
      <small class="text-danger">
        {{ nameRequire }}
      </small>
    </div>
    <input
      type="text"
      class="form-control"
      required
      #price="ngModel"
      pattern="^[0-9]*$"
      [ngClass]="{'is-invalid': submitted && addProduct.controls.price.errors}"
      [class.is-invalid]="price.invalid && price.touched"
      placeholder="Enter Product Price"
      name="price"
      [(ngModel)]="addProduct.value.price"
    />
    <div *ngIf="submitted && addProduct.controls.price.errors" class="text-danger">
      <div class="text-danger text" *ngIf="submitted && addProduct.controls.price.errors.required">
        <small>{{priceRequire}}</small>
      </div>
      <div>
        <small class="text-danger">
          {{ checkPriceWith0 }}
        </small>
      </div><div>
        <small class="text-danger">
          {{ checkPriceChar }}
        </small>
      </div>

    </div>

    <button class="form-button">Add Product</button>

    <button class="form-button" routerLink="/products" style="margin-top: 20px">Go to Product</button>

    <button class="form-button" routerLink="/admin-update" style="margin-top: 20px">View update items</button>
  </form>

</div>
