<div class="add-product">
  <h1>Add New Product</h1>
  <form #addProduct="ngForm"
        (ngSubmit)="submit(addProduct.value)"
        class="common-form">
    <p class="message-p">{{ messageSuccess }}</p>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Product Name"
      name="name"
      #name="ngModel"
      [ngClass]="{'is-invalid': submitted && addProduct.controls.name.errors}"
      [class.is-invalid]="name.invalid && name.touched"
      required
      [(ngModel)]="addProduct.name"
    />
    <div *ngIf="submitted && addProduct.controls.name.errors" class="text-danger">
      <small class="text-danger"
             *ngIf="submitted && addProduct.controls.name.errors.required">
        Name is required!
      </small>
    </div>
    <input
      type="text"
      class="form-control"
      required
      pattern="\d{1,99}"
      #price="ngModel"
      [ngClass]="{'is-invalid': submitted && addProduct.controls.price.errors}"
      [class.is-invalid]="price.invalid && price.touched"
      placeholder="Enter Product Price"
      name="price"
      ngModel
    />
    <div *ngIf="submitted && addProduct.controls.price.errors" class="text-danger">
      <small class="text-danger"
             *ngIf="submitted && addProduct.controls.price.errors.required">
        Price is required!
      </small>
      <small class="text-danger"
             *ngIf="submitted && addProduct.controls.price.errors.pattern">
        Price is number!
      </small>
      <small class="text-danger" *ngIf="price == check">
        {{messageError}}
      </small>
    </div>

    <button class="form-button">Add Product</button>

    <button class="form-button" routerLink="/products" style="margin-top: 20px">Go to Product</button>

    <button class="form-button" routerLink="/admin-update" style="margin-top: 20px">View update items</button>
  </form>

</div>
