<div class="sign-up">
  <h1>User Sign up</h1>
  <form #userSignUp="ngForm"
        (ngSubmit)="signUp(userSignUp.value)"
        class="common-form">
    <p class="message-p">{{messageSuccess}}</p>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Username"
      required
      #username="ngModel"
      [ngClass]="{'is-invalid': submitted && userSignUp.controls.username.errors}"
      [class.is-invalid]="username.invalid && username.touched"
      name="username"
      ngModel
    />
    <div class="text-danger" *ngIf="submitted && userSignUp.controls.username.errors">
      <small>
        {{errorNameSignUp}}
      </small>
    </div>
    <input
      type="password"
      class="form-control"
      required
      #password="ngModel"
      [ngClass]="{'is-invalid': submitted && userSignUp.controls.password.errors}"
      [class.is-invalid]="password.invalid && password.touched"
      placeholder="Enter Your password"
      name="password"
      ngModel
    />
    <div class="text-danger" *ngIf="submitted && userSignUp.controls.password.errors">
      <small>
        {{errorPasswordSignUp}}
      </small>
    </div>
    <button class="form-button">Login to shopping</button>
    <p>Already Have Account? <a (click)="clickSignUp()">Click Here</a></p>
    <small class="text-danger" *ngIf="duplicateName">
      {{duplicateName}}
    </small>
  </form>
</div>
